.form
  &__title
    margin-bottom: 25px

  &__row
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  &__input
    &_txt
      display: block
      padding: 10px 15px
      outline: none
      border: 1px solid $cPlaceholder
      border-radius: 8px
      color: $cInput

    &_full-width
      width: 100%

  &__footer
    margin-top: 25px