.link
  padding-bottom: 2px
  border-bottom: 1px solid $cLink
  transition: color .2s ease, border-color .2s ease
  text-decoration: none
  cursor: pointer
  font-size: 14px
  color: $cLink
  
  &:hover
    color: $cLink_active
    border-color: $cLink_active