@import 'bootstrap/grid'
@import 'icons'
@import 'var'
@import 'reset'
@import 'mixins/common'
@import 'popup'
@import 'btn'
@import 'link'
@import 'form'
@import 'nav'
@import 'goods'

body
  font-family: 'Roboto', sans-serif
